<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>BookRent</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div th:class="mainContainer">
        <div class="title">
            BookRent.com
        </div>
        <div class="content">
            <div class="component">
                <a th:href="@{avBooks}">Zobacz książki</a>
            </div> <br>
            <div class="component">
                essa
            </div>
        </div>
    </div>
</body>
</html>